@import "../../global/styles.scss";

.ColorItem {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-inline: 16px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);

  @include color-backgrounds();
}

.ColorLabel {
  font-size: medium;
  text-align: center;
  margin-top: 8px;
}

.ColorValue {
  font-size: small;
  text-align: center;
  margin-top: 8px;
}
