@import "../../global/styles.scss";

.RadioButton {
  &__input {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid $disabled;
    transition: 0.2s all linear;
    margin-bottom: -2px;
    top: 4px;
    cursor: pointer;

    &:checked {
      border-width: 6px;
      border-style: solid;
    }

    &--border-primary:checked {
      border-color: $primary;
    }

    &--border-secondary:checked {
      border-color: $secondary;
    }
  }
}

.RadioButtonLabel {
  margin-left: 4px;
  font-size: large;

  &--disabled {
    color: $disabled;
  }
}

.RadioButtonsContainer {
  text-align: center;
}
.RadioButtonsList {
  display: inline-block;
  text-align: left;
}
