@import "../global/styles.scss";

.ComponentListItem {
  text-align: start;
  margin: (0 0 8px 4px);

  &__link {
    text-decoration: none;

    &--selected {
      background-color: $primary;
      text-decoration: none;
    }
  }
}
