@import "../global/styles.scss";

.Sidepanel {
  flex: 0 0 300px;
  box-sizing: border-box;
  border-right: 1px solid $divider;

  &__content {
    margin-inline: 2em;
    position: sticky;
    top: 0;
  }
}

.ListTitle {
  width: 100%;
  display: flex;
}

// TODO: add class for the anchor or if not, move to global styles
a:visited {
  color: unset;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
