.Sidepanel {
  border-right: 1px solid rgb(231, 231, 231);
  width: 300px;
}

.SidepanelContent {
  margin-inline: 2em;
  position: sticky;
  top: 0;
}

.ComponentsList {
  list-style: none;
  padding: 0;
}

.ComponentListItem {
  text-align: start;
  margin: (0 0 8px 4px);
}

.ListTitle {
  width: 100%;
  display: flex;
}

.ComponentLink {
  text-decoration: none;
}

.ComponentLinkSelected {
  background-color: rgb(151, 231, 229);
  text-decoration: none;
}

a:visited {
  color: unset;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
