@import "../../global/styles.scss";

.TextField {
  label {
    font-size: small;
    display: block;
  }

  input {
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: medium;

    &:focus-visible {
      outline: none;
      border-color: $primary;
    }
  }

  &--error {
    label {
      color: $error;
    }

    input {
      border-color: $error;

      &:focus-visible {
        outline: none;
        border-color: $error;
      }
    }
  }
}

.ErrorMessage {
  font-size: small;
  color: $error;
}
