.App {
  text-align: start;
}

html {
  scroll-behavior: smooth;
}

.Head {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Main {
  margin-inline: 100px;
  margin-block: 20px;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  display: flex;
  font-size: calc(5px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
