@import "../../global/styles.scss";

.RadioButton {
  display: flex;

  &__input {
    appearance: none;
    border-radius: 50%;
    flex: 0 0 16px;
    height: 16px;
    border: 1.5px solid gray;
    transition: 0.2s all linear;
    margin-bottom: -2px;
    top: 4px;

    cursor: pointer;

    &:checked {
      border-width: 6px;
      border-style: solid;
    }

    &--border-primary:checked {
      border-color: $primary;
    }

    &--border-secondary:checked {
      border-color: $secondary;
    }

    &--disabled {
      cursor: auto;
      border-color: $disabled;
    }
  }
}

.RadioButtonLabel {
  margin-left: 4px;
  font-size: large;
  cursor: pointer;

  &--disabled {
    color: $disabled;
    cursor: auto;
  }
}

.RadioButtonsContainer {
  display: flex;
  justify-content: center;
}

.RadioButtonsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
}
